.card {
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.5);
  border-radius: $cardBorderRadius;
  width: $cardWidth;
}
.card-img-container {
  position: relative;
  height: $cardImgHeight;
}
.card-img {
  border-top-right-radius: $cardBorderRadius;
  border-top-left-radius: $cardBorderRadius;
  height: $cardImgHeight;
  width: $cardWidth;
}
.card-author {
  position: absolute;
  bottom: 0.6rem;
  left: 0.9rem;
  color: #fff;
  margin: 0;
  font-weight: bold;
}
.card-info-container {
  padding: 0.6rem;
}
.card-info {
  display: flex;
  align-items: center;
}
.card-info-icon {
  width: 1.8rem !important;
}
.card-info-text {
  font-weight: 600;
  margin: 0 0 0 0.3rem;
}
