.footer-container {
  background-color: $offBlack;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 30px;
}

.sponsor {
  margin-left: 5px;
  font-style: italic;
}
