.footer-container {
  background-color: $offBlack;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.sponsor {
  margin-left: 0.3rem;
  font-style: italic;
}
