.view-title-container {
display: flex;
align-items: center;
justify-content: space-between;
margin: $title-margin;
}
.grid {
  display: grid;
  grid-template-columns: $cardWidth $cardWidth $cardWidth;
  gap: 1.2rem;
  justify-content: center;
  @media (max-width: 550px) {
    grid-template-columns: $cardWidth $cardWidth
  }
}