.list-item {
  display: flex;
  justify-content: space-between;
  margin: 0.6rem 0;
  min-width: 41.4rem;
  p {
    margin: 0;
    font-size: 0.6rem;
  }
  h4 {
    margin: 0;
    font-size: 0.9rem !important;
    font-weight: 600;
  }
  @media (max-width: 550px) {
    min-width: 27.2rem;
  }
}
.list-img {
  height: 3.2rem;
  width: 6.4rem;
}
.list-date {
  text-align: center;
  width: 2.5rem;
}
.list-time {
  color: $primaryColor;
}
.list-author {
  margin-top: 0.2rem !important;
  font-weight: bold;
}